@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
:root{
    --primary-color:black;
    --secondary-color:white;
    --tertiary-color:blue;
}
.theme{
    --primary-color:white;
    --secondary-color:black;
    --tertiary-color:white;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth ;
    font-family: 'Poppins', sans-serif;
}
body{
    transition: 0.4s;
    height: 100%;
    width: 100%;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}
body::-webkit-scrollbar{
    display: none;
}
::selection{
    background-color: blue;
    color: white;
}
  .drag{
    cursor:move;
  }