.modal {
    display: none; 
    position: fixed; 
    z-index: 3; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100vh; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
  }
  .modal-content {
    background-color: var(--secondary-color);
    margin: 0 auto; 
    margin-top: 30px;
    padding: 10px 20px;
    border: 1px solid #888;
    width: 500px; 
  }
  .modal-body{
    padding: 0px 0;
  }
  .gotit{
    padding: 5px 10px;
    border: 1px solid var(--tertiary-color);
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
  }
  .gotit:hover{
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
  .modal-body ul{
    list-style:decimal;
  }
  .close {
    transform: translateY(-15px) translateX(5px);
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
  }
  .judgement{
    margin-top: 10px;
    font-size:0.9rem;
  }
  .rules{
    padding-top: 20px;
    font-size:0.9rem;
  }

  @media only screen and (max-width: 600px) {
    .rules, .judgement{
      max-width: 300px;
    }
    .modal-content{
      width: 350px;
      z-index: 100;
    }

  }